<div class="container" style="width: 850px;">
  <h3 mat-dialog-title>Adicionar Cliente</h3>
  <mat-dialog-content>
    <form [formGroup]="clienteForm">
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CNPJ" formControlName="cnpj" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Inscricao Estadual" formControlName="inscricaoEstadual">
        </mat-form-field>
      </div>
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Celular" formControlName="contato1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Comercial" formControlName="contato2">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Cep" (change)="buscaCep($event)" formControlName="cep">
        </mat-form-field>
      </div>
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Endereco" formControlName="endereco">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Numero" formControlName="numero">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bairro" formControlName="bairro">
        </mat-form-field>
      </div>
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Cidade" formControlName="cidade">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado" formControlName="estado">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Complemento" formControlName="complemento">
        </mat-form-field>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCloseClick()">Cancelar</button>
    <button mat-button (click)="onSubmit()">Adicionar</button>
  </mat-dialog-actions>
</div>