<div class="container" style="width: 950px;">
  <h3 mat-dialog-title>Ordem Servicos</h3>
  <mat-dialog-content>
    <h3>{{ this.osNumber }}</h3>
    <form [formGroup]="osForm">
      <div class="d-flex flex-row">
        <mat-form-field>
          <mat-label>Cliente</mat-label>
            <mat-select>
              <mat-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{cliente.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>Solicitante</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>Nota Entrada</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>Pedido</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row">
        <mat-form-field>
          <mat-label>Orcamento</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>Prazo</mat-label>
          <input matInput >
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-label>Valor Total</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Items</mat-card-title>
          </mat-card-header>
          <mat-card-actions  align="end">
            <button mat-mini-fab color="primary" (click)="mostraConteudo()">
              <mat-icon>plus_one</mat-icon>
            </button>
          </mat-card-actions>
          <ng-container *ngIf="this.conteudo" >
            <div class="d-flex flex-row">
              <mat-form-field fxFlex="40">
                <input matInput placeholder="Descricao" [(ngModel)]="descricao" name="descricao">
              </mat-form-field>
              <mat-form-field style="margin-left: 10px;" fxFlex="20">
                <input matInput placeholder="Valor Unitario" [(ngModel)]="valorUnitario" name="valorUnitario">
              </mat-form-field>
              <mat-form-field style="margin-left: 10px;" fxFlex="20">
                <input matInput placeholder="Quantidade" [(ngModel)]="qtd" name="qtd">
              </mat-form-field>
              <mat-form-field style="margin-left: 10px;" fxFlex="15">
                <mat-select placeholder="Unidade" [(ngModel)]="unidade" name="unidade">
                  <mat-option *ngFor="let unidade of unidades" [value]="unidade.value">{{unidade.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div style="margin-top: 20px; margin-left: 8px;" fxFlex="5">
                <button mat-flat-button color="primary" (click)="addListaDetalhes()">Add</button>
              </div>
              </div>
              <div class="d-flex flex-row">
              <ng-container *ngIf="detalheOrdemServicos.length > 0">
                <div>
                  <table mat-table [dataSource]="detalheOrdemServicos" class="mat-elevation-z8">
                    <ng-container matColumnDef="descricao">
                      <th mat-header-cell *matHeaderCellDef>Descricao</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.descricao}}</td>
                    </ng-container>
                    <ng-container matColumnDef="valorUnitario">
                      <th mat-header-cell *matHeaderCellDef>Valor Unitario</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.valorUnitario}}</td>
                    </ng-container>
                    <ng-container matColumnDef="qtd">
                      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                      <td style="width: 150px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.quantidade}}</td>
                    </ng-container>
                    <ng-container matColumnDef="unidade">
                      <th mat-header-cell *matHeaderCellDef>Unidade</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.unidade}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button>Adicionar</button>
  </mat-dialog-actions>
</div>
