<div class="container" style="width: 950px;">
  <h3 mat-dialog-title>Ordem Servicos</h3>
  <mat-dialog-content>
    <h3>{{ this.osNumber }}</h3>
    <form [formGroup]="osForm">
      <div class="d-flex flex-row">
        <mat-form-field>
            <mat-select placeholder="Cliente" formControlName="idCliente">
              <mat-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{cliente.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Solicitante"
                 formControlName="solicitante" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Nota Entrada"
                 formControlName="notaEntrada">
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Pedido"
                 formControlName="pedido">
        </mat-form-field>
      </div>
      <div class="d-flex flex-row">
        <mat-form-field>
          <input matInput placeholder="Orcamento"
                 formControlName="orcamento">
        </mat-form-field>
        <mat-form-field style="margin-left: 5px;">
          <input matInput placeholder="Prazo"
                 formControlName="prazo"
                 min="0" max="9999"
                 required (keypress)="numericOnly($event)" >
        </mat-form-field>
        <mat-form-field style="margin-left: 5px;">
          <input matInput placeholder="Valor Total"
                 currencyMask
                 [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                 formControlName="valorTotal" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 5px;">
          <input matInput [matDatepicker]="lancamento"
                 placeholder="Data Lancamento"
                 (dateChange)="setPrevisaoEntrega('change', $event)"
                 formControlName="lancamento" required>
          <mat-datepicker-toggle matIconSuffix [for]="lancamento"></mat-datepicker-toggle>
          <mat-datepicker #lancamento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row">
        <mat-form-field>
          <input matInput [matDatepicker]="dataPrevEntrega"
                 placeholder="Previsao Entrega"
                 formControlName="dataPrevEntrega" >
          <mat-datepicker-toggle matIconSuffix [for]="dataPrevEntrega"></mat-datepicker-toggle>
          <mat-datepicker #dataPrevEntrega></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput [matDatepicker]="dataEntrega"
                 placeholder="Data Entrega"
                 formControlName="dataEntrega">
          <mat-datepicker-toggle matIconSuffix [for]="dataEntrega"></mat-datepicker-toggle>
          <mat-datepicker #dataEntrega></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Nota de Saida"
                 formControlName="notaSaida" required>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Items</mat-card-title>
          </mat-card-header>
          <mat-card-actions  align="end">
            <button mat-mini-fab color="primary" (click)="mostraConteudo()">
              <mat-icon>plus_one</mat-icon>
            </button>
          </mat-card-actions>
          <ng-container *ngIf="this.conteudo" >
            <div class="d-flex flex-row">
              <form [formGroup]="detalhesOS">
                <mat-form-field fxFlex="40">
                  <input matInput placeholder="Descricao" formControlName="descricao" name="descricao">
                </mat-form-field>
                <mat-form-field style="margin-left: 5px;" fxFlex="20">
                  <input matInput placeholder="Valor Unitario"
                         currencyMask
                         [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                         formControlName="valorUnitario"
                         name="valorUnitario">
                </mat-form-field>
                <mat-form-field style="margin-left: 5px;" fxFlex="20">
                  <input matInput placeholder="Quantidade" formControlName="qtd" name="qtd">
                </mat-form-field>
                <mat-form-field style="margin-left: 5px;" fxFlex="15">
                  <mat-select placeholder="Unidade" formControlName="unidade" name="unidade">
                    <mat-option *ngFor="let unidade of unidades" [value]="unidade.value">{{unidade.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div style="margin-top: 20px; margin-left: 8px;" fxFlex="5">
                  <button mat-flat-button color="primary" (click)="addListaDetalhes()">Add</button>
                </div>
              </form>
            </div>
              <div class="d-flex flex-row">
              <ng-container *ngIf="detalheOrdemServicos.length > 0">
                <div>
                  <table mat-table [dataSource]="detalheOrdemServicos" class="mat-elevation-z8">
                    <ng-container matColumnDef="descricao">
                      <th mat-header-cell *matHeaderCellDef>Descricao</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.descricao}}</td>
                    </ng-container>
                    <ng-container matColumnDef="valorUnitario">
                      <th mat-header-cell *matHeaderCellDef>Valor Unitario</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.valorUnitario | currency: 'BRL':true }}</td>
                    </ng-container>
                    <ng-container matColumnDef="qtd">
                      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                      <td style="width: 150px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.quantidade}}</td>
                    </ng-container>
                    <ng-container matColumnDef="unidade">
                      <th mat-header-cell *matHeaderCellDef>Unidade</th>
                      <td style="width: 200px;" mat-cell *matCellDef="let detalheOrdemServico">{{detalheOrdemServico.unidade}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCloseClick()">Cancelar</button>
    <button mat-button (click)="onSubmit()">Adicionar</button>
  </mat-dialog-actions>
</div>
