<div class="container" style="width: 850px;">
  <h3 mat-dialog-title>{{ isUpdate ? 'Atualizar Departammento' : 'Adicionar Departamento'}}</h3>
  <mat-dialog-content>
    <form [formGroup]="departamentoForm">
      <div class="form-fields">
        <input hidden formControlName="idDepartamento">
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Nome" formControlName="nome" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Responsavel" formControlName="responsavel" required >
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput placeholder="Centro de custo" formControlName="centroCusto">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close >Cancelar</button>
    <button mat-button >{{ isUpdate ? 'Atualizar' : 'Adicionar'}}</button>
  </mat-dialog-actions>
</div>
