<mat-accordion>
  <mat-expansion-panel [expanded]=false (opened)=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ordem de Servicos
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <div class="formSearchClientes">
    <br />
    <form [formGroup]="searchOsForm">
      <div class="d-flex flex-row">
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Cliente" formControlName="idCliente">
            <mat-option *ngFor="let cliente of dropClientes" [value]="cliente.Id">{{cliente.Descricao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <input formControlName="solicitante" placeholder="Solicitante" matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput [matDatepicker]="dataLancamento"
                 placeholder="Data Lancamento"
                 formControlName="dataLancamento">
          <mat-datepicker-toggle matIconSuffix [for]="dataLancamento"></mat-datepicker-toggle>
          <mat-datepicker #dataLancamento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row" style="align-items: end; margin-left: 700px;">
        <button mat-raised-button
                color="primary"
                (click)="$event.preventDefault(); searchOs()"
        >Pesquisar</button>

        <button style="margin-left: 30px;"
                mat-raised-button
                color="primary"
            (click)="$event.preventDefault(); openAddOS()"
        >Adicionar</button>

        <button style="margin-left: 30px;"
                mat-raised-button
                color="primary"
                (click)="$event.preventDefault(); exportExcel()"
        >Exportar Excel</button>
      </div>
    </form>
  </div>
  <hr />
  <app-grid-servicos></app-grid-servicos>

</mat-accordion>
