<mat-accordion>
  <mat-expansion-panel [expanded]=false (opened)=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ordem de Servicos
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <div class="formSearchClientes">
    <br />
    <form>
      <div class="d-flex flex-row">
        <mat-form-field class="form-field" style="margin-left: 10px;">
          <mat-label>Cliente</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Produto</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Solicitante</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <mat-label>Data</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row" style="align-items: end; margin-left: 700px;">
        <button mat-raised-button color="primary">Pesquisar</button>
        <button style="margin-left: 30px;" mat-raised-button color="primary"
          (click)="$event.preventDefault(); openAddOS()">Adicionar</button>
      </div>
    </form>
  </div>
  <hr />
  <app-grid-servicos></app-grid-servicos>

</mat-accordion>