<mat-accordion>
  <mat-expansion-panel [expanded]=false (opened)=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Departamentos
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <div>
    <br />
    <form [formGroup]="searchDepartamento">
      <div class="d-flex flex-row">
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Departamento" formControlName="idDepartamento">
            <mat-option *ngFor="let departamento of dropDepartamentos" [value]="departamento.Id">{{departamento.Descricao}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row" style="align-items: end; margin-left: 700px;">
        <button mat-raised-button color="primary">Pesquisar</button>
        <button style="margin-left: 30px;" mat-raised-button color="primary"
                (click)="$event.preventDefault(); openModalDepartamento()">Adicionar</button>
      </div>
    </form>
  </div>
  <hr />
  <app-grid-departamentos #GridDepartamentosComponent></app-grid-departamentos>
</mat-accordion>
