<mat-accordion>
  <mat-expansion-panel [expanded]=false (opened)=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fornecedores
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <div class="searchFornecedorForm">
    <br />
    <form [formGroup]="searchFornecedorForm">
      <div class="d-flex flex-row">
        <mat-form-field style="margin-left: 20px;">
          <mat-select placeholder="Fornecedor" formControlName="idFornecedor">
            <mat-option *ngFor="let fornecedor of dropFornecedores" [value]="fornecedor.Id">{{fornecedor.Descricao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <input matInput placeholder="CNPJ" formControlName="cnpj">
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <input matInput placeholder="Contato" formControlName="contato">
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="row" style="align-items: end; margin-left: 700px;">
        <button style="width: 100px;" mat-raised-button color="primary">Pesquisar</button>
        <button style="margin-left: 30px; width: 100px;" mat-raised-button color="primary"
                (click)="$event.preventDefault(); openAddFornecedor()">Adicionar</button>
      </div>
    </form>
  </div>
  <hr />
  <app-grid-fornecedor #GridFornecedorComponent></app-grid-fornecedor>
</mat-accordion>
