@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.navContainer {
  width: 100vw;
  height: 83vh;
  margin: auto !important;
  border: 0.5px solid #555;
}

.headers-align {
  width: 900px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.table {
  width: 100%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.ativo {
  color: #03DAC5;
}
.inativo {
  color: #B00020;
}



